# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.[oa]
*.pyd
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak
.idea/
.vscode/

# Ignore all JSON files in the root, but not in data/
*.json
!data/*.json 